<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vasculit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<header>
  <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
    background-position: 50%;
    background-image: url('https://kartinkin.net/uploads/posts/2022-02/1646028473_23-kartinkin-net-p-tsvetushchaya-sakura-kartinki-24.jpg');
    height: 350px;
  ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.4)">
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-6 md:px-12">
          <h1 class="text-5xl font-bold mt-0 mb-6">Васкулит</h1>
          <h1 class="text-5xl font-bold mt-0 mb-6">Сайт создан в дополнение к существующему с 2011 года сообщуству в социальной сети "Вконтакте"</h1>
          <h1 class="text-l font-bold underline">
            <%= link_to nil, "https://vk.com/club23369470" %>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <body>
    <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
      background-position: 100%;
      backdrop-opacity-20
      background-image: url('https://vetengineering.com/wp-content/uploads/2019/04/Big-Blue-White-Gradient.jpeg');
      height: 210vh;
    ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(117, 190, 218, 0.5)">
      <div class="items-center h-full mt-8">
        <div class="text-center text-black md:px-12">
          <main>
            <p>Васкули́т (лат. vasculum — сосуд, -itis — суффикс, обозначающий воспаление), синонимы: ангии́т (др.-греч. ἀγγεῖον — сосуд), артерии́т — под этим общим определением объединена группа заболеваний, в основе которых лежит иммунопатологическое воспаление сосудов — артерий, артериол, капилляров, венул и вен. Как правило, следствием этого заболевания является изменение структуры и функции органов, кровоснабжающихся воспалёнными сосудами. Причины возникновения заболевания остаются неизвестными. Предполагаются комбинация генетической предрасположенности с факторами внешней среды, а также инфекции с участием золотистого стафилококка или вируса гепатита.</p>
          </main>
            <h4>Классификация</h4>
            <p>Васкулиты принципиально подразделяются на первичные — вызванные воспалением самих сосудов, и вторичные — при которых воспаление сосуда является реакцией на другое заболевание. Классификация определяется Chapel Hill Consensus Conference (CHCC). По результатам пересмотра классификации васкулитов 2012 года была предложена следующая номенклатура.<p>
            <h4></h4>
            <p>Классификация васкулитов (CHCC-номенклатура, пересмотренная версия 2012)
                Васкулиты крупных сосудов

                Гигантоклеточный артериит (синонимы: «височный артериит», «сенильный артериит», «болезнь Хортона»)
                Артериит Такаясу
                Васкулиты сосудов среднего размера

                Нодозный (узелковый периартериит) полиартериит
                Болезнь Кавасаки
                Васкулиты мелких сосудов

                ANCA-ассоциированные васкулиты

                Гранулёматоз с полиангиитом (болезнь Вегенера)
                Эозинофильный гранулёматоз с полиангиитом[en] (синдром Чарга-Страусса)
                Микроскопический полиангиит
                Иммунокомплексные васкулиты мелких сосудов

                Иммуноглобулин-А васкулит (болезнь Шёнлейна-Геноха) (синонимы: «геморрагический васкулит», пурпура Шёнлейна — Ге́ноха)
                криоглобулинемический васкулит
                Анти-GBM-болезнь;
                Гипокомплементарный уртикарный васкулит (анти-C1q-васкулит)
                Васкулиты, поражающие сосуды различных размеров

                Болезнь Бехчета
                Синдром Когана
                Васкулиты отдельных органов

                Первичный ангиит ЦНС
                Кожный лейкоциткластный ангиит
                Кожный артериит
                Изолированный аортит
                Другие васкулиты
                Васкулиты при системных заболеваниях

                Волчаночный васкулит
                Васкулит при саркоидозе
                Ревматоидный васкулит
                Другие васкулиты
                Васкулиты вторичные

                Криоглобулинемические васкулиты, ассоциированные с вирусом гепатита C;
                Васкулиты, ассоциированные с вирусом гепатита B;
                Васкулит ассоциированные с вирусом SARS-CoV-2
                Васкулиты, ассоциированные с сифилисом;
                Иммунокомплексные васкулиты, ассоциированные с медикаментами;
                ANCA-васкулиты, ассоциированные с медикаментами;
                Васкулиты, ассоциированные с онкологическими заболеваниями (син. «паранеопластические васкулиты»)
                И другие васкулиты
            </p>
            <p>
            Симптоматика
              Особенности клинического течения ГПА
              ГПА свойственна триада поражения органов с вовлечением верхних дыхательных путей (ВДП), лёгких и почек.
              У подавляющего большинства больных (более 90%), развивается некротизирующее гранулёматозное воспаление ВДП: язвенно- некротический ринит, синусит, поражение органа слуха, вовлечение трахеи и гортани с формированием подскладочной гранулёмы. Патология ВДП может осложняться перфорацией носовой перегородки с формированием седловидной деформации носа, развитием тяжёлого деструктивного пансинусита с распространением гранулёматозной ткани в орбиту, потерей слуха, стенозом гортани.
              Поражение лёгких (50—70 %) характеризуется некротизирующим гранулёматозным воспалением, которое при рентгенографическом исследовании определяется в виде узлов или инфильтратов, склонных к распаду и формированию полостей. В каждом пятом случае поражение лёгких протекает бессимптомно, с отсутствием жалоб на кашель и скудной аускультативной картиной даже при тяжёлом поражении.
              Поражение почек отмечается у 80 % пациентов.
              Для поражения органа зрения (50 %) свойственно формирование псевдотумора орбиты вследствие образования периорбитальной гранулёмы, что у каждого пятого больного приводит к слепоте.
              Поражение кожи (25—35 %) в первую очередь характеризуется геморрагическими или язвенно- геморрагическими высыпаниями преимущественно на коже конечностей.
              Для поражения периферической нервной системы свойственно развитие асимметричного сенсорно- моторного множественного мононеврита (20—30 %), значительно реже наблюдается дистальная симметричная полинейропатия. У каждого четвёртого больного ГПА с поражением органа слуха развивается вторичный (одонтогенный) неврит V, VII пары черепно-мозговых нервов.
              Поражение сердца при ГПА не превышает 20 %. Как и у всех больных АНЦА-СВ, при ГПА возрастает риск сердечно-сосудистых заболеваний (ИБС, инсульта, периферической артериальной окклюзии), при этом отмечено повышение риска ОИМ, но не стенокардии. 
              Поражение желудочно-кишечного тракта (ЖКТ) встречается редко (5 %).
              Среди больных ГПА риск развития обострения выше (65 %), чем при МПА или ЭГПА (35 %), при этом рецидивы сохраняются и на высоких кумулятивных дозах ЦФ.  
              Особенности клинического течения МПА.
              У 50 % больных МПА проявляется в виде тяжёлого лёгочно-почечного синдрома. Как правило, при МПА наблюдают острое начало и более агрессивное течение, чем при ГПА или ЭГПА.
              МПА имеет много общих черт с ГПА, отличаясь отсутствием гранулёматозного воспаления, вследствие чего МПА не свойственны подскладочный ларингит, седловидная деформация носа, периорбитальные гранулёмы.
              Патология лёгких (35—70 %) при МПА представлена некротизирующим альвеолитом. При рентгенологическом обследовании выявляют инфильтраты без распада, часто с реакцией плевры. Поражение лёгких при МПА протекает тяжело (особенно при наличии антител к протеиназе-3), у половины больных осложняется лёгочным кровотечением, что в каждом втором случае становится фатальным. При МПА с гиперпродукцией антител к миелопероксидазе описаны случаи фиброзирующего альвеолита.
              Поражение почек отмечается у 90 % пациентов и нередко характеризуется быстропрогрессирующим течением (40—55 %), особенно тяжело протекая при наличии антител к ПР-3.
              Поражение кожи (70 %) характеризуется геморрагическими или язвенно-геморрагическими высыпаниями преимущественно на коже конечностей, реже livedo reticularis, некрозами кожи и подлежащих мягких тканей.
              Для поражения органа зрения (30 %) свойственно развитие склерита и эписклерита.
              Поражение периферической нервной системы (30 %) проявляется асимметричным сенсорно-моторным множественным мононевритом.
              Поражение ЖКТ (10 %) характеризуется болями в животе, диареей, иногда кровотечением вследствие развития ишемических язв желудка и кишечника.  
              Особенности клинического течения ЭГПА
              Клиническое развитие ЭГПА подразделяют на 3 стадии, которые, как правило, последовательно разворачиваются на протяжении нескольких лет. Для первого этапа свойственно постепенное развитие симптомов бронхиальной астмы, аллергического ринита, синусита, проявлений лекарственной непереносимости, при этом периферическая эозинофилия не всегда выражена. На второй стадии присоединяются эпизоды эозинофильной инфильтрации тканей в виде эозинофильной пневмонии или гастроэнтерита, что часто сочетается с периферической эозинофилией более 10 %. Третья стадия ЭГПА характеризуется развитием системного некротизирующего васкулита.
              Поражение лёгких (70 %) характеризуется мигрирующими инфильтратами (эозинофильная пневмония) или узлами без полостей распада. Возможно вовлечение плевры (эозинофильный плеврит),  умеренное увеличение внутригрудных лимфатических узлов.
              Поражение почек отмечается у 20—45 % пациентов.
              Поражение сердца (30—50 %) при ЭГПА проявляется разнообразной патологией (перикардит, эндомиокардит, коронарит, сердечная недостаточность, нарушения ритма и проводимости) и становится причиной летального исхода у 50 % пациентов.
              Поражение кожи (64 %) характеризуется геморрагическими или язвенно- геморрагическими высыпаниями преимущественно на коже конечностей, реже уртикарными высыпаниями.
              Поражение периферической нервной системы (64 %) при ЭГПА развивается чаще, чем при других формах АНЦА-СВ и характеризуется асимметричным сенсорно- моторным множественным мононевритом. Поражение центральной нервной системы (10 %) может проявляться невритом черепно- мозговых нервов, острыми нарушениями мозгового кровообращения, очаговыми изменениями мозга, эписиндромом.
              Для поражения органа зрения (30 %) свойственны  склерит и эписклерит.
              Поражение ЖКТ (10% ) связано как с эозинофильным гастроэнтеритом, так и с васкулитом стенки кишечника, способным вызвать образование ишемических язв, перфорацию.
              Особенности поражения почек при АНЦА-СВ
              Заболевания, относящиеся к АНЦА-СВ, имеют единые морфологические изменения в почках, сходный патогенез, клиническое течение и прогноз. К отличительным особенностям клинического течения АНЦА-ассоциированного ГН относят:
              сочетание с другими системными проявлениями некротизирующего васкулита;
              склонность к быстропрогрессирующему течению (БПГН) со снижением СКФ более чем на 50 % в течение нескольких недель или месяцев;
              умеренная артериальная гипертензия;
              протеинурия, не превышающая 3 г в сутки.
              АНЦА-ГН может проявляться бессимптомной протеинурией и микрогематурией (редко макрогематурией), БПГН, остронефритическим синдром. Не свойственно развитие нефротического синдрома или злокачественной артериальной гипертензии. Наиболее часто БПГН развивается при МПА (40—55 %), особенно тяжело протекая при наличии антител к ПР-3. ГН может быть  дебютным проявлением АНЦА-СВ или присоединяться в ходе последующих обострений, в связи с чем, требуется внимательное мониторирование показателей поражения почек на всём протяжении болезни. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
